{{define "home"}}
{{template "header" .}}

<div id="head-img"></div>
<div id="home-container" class="row">
<div id="welcome" class="row">
  <div id="term-padding">
  </div>
  <div id="terminal">
    acm@uiuc$ Welcome to ACM@UIUC!
    <span id="shell"></span>
  </div>
</div>
  <div id="main-container" class="small-12 medium-12 large-9 columns">
    <div id="main-feed" class="row">
        {{range .Home.Entries}}
          <h4>{{.Title}}</h4>
          <p>{{.Body}}</p>
          {{if ne .Link.Name ""}}
            <a href="{{.Link.Uri}}"><button class="button">{{.Link.Name}}</button></a>
          {{end}}
        {{end}}
    </div>
    <div id="involvement" class="row">
      <div id="main-left" class="small-12 medium-12 large-4 columns">
        <h3>Join ACM</h3>
        <p>As an ACM member you get access to our compute cluster, free black and white printing, Concert, Merch, and many other member perks.</p><a href="/join">
          <button class="button">Join Us</button></a>
      </div>
      <div id="main-center" class="small-12 medium-12 large-4 columns">
        <h3>Special Interest Groups</h3>
        <p>ACM has many Special Interest Groups (SIGs) that work on projects in a wide variety of areas. All SIGs are open to all students, no previous knowledge required!</p><a href="/sigs">
          <button class="button">Learn More</button></a>
      </div>
      <div id="main-right" class="small-12 medium-12 large-4 columns">
        <h3>Sponsors</h3>
        <p>The best way to get involved with ACM@UIUC is to become a part of our corporate sponsorship program!</p><a href="/sponsors">
          <button class="button">Get Involved</button></a>
      </div>
    </div>
  </div>
</div>
<div class="footer_padding">
</div>

{{template "footer" .}}
{{end}}
