{{define "resumebook"}}
{{template "header" .}}

<div id="resume-container">
    <div class="row">
        <h2>ACM@UIUC Resume Book</h2>
        <div class="resume-table-container">
            <table id="resume-table" class="dynatable-container">
                <thead>
                <tr>
                    <th>Name </th>
                    <th>NetID </th>
                    <th>Graduation </th>
                    <th>Level </th>
                    <th>Seeking </th>
                    <th>Resume </th>
                </tr>
                </thead>
                {{range .Resumes}}
                    <tr>
                        <td>{{.FirstName}} {{.LastName}}</td>
                        <td>{{.Username}}</td>
                        <td>{{.GraduationMonth}} / {{.GraduationYear}}</td>
                        <td>{{.Degree}}</td>
                        <td>{{.Seeking}}</td>
                        <td><a href="{{.BlobKey}}" target="_blank">View Resume</a></td>
                    </tr>
                {{end}}
            </table>

            <form id="resume-filter-form">
                <h4>Filter <a class="clear-form" href="?">Clear</a></h4>
                <input type="text" name="first_name" placeholder="First Name">
                <input type="text" name="last_name" placeholder="Last Name">
                <input type="text" name="username" placeholder="NetID">

                <select name="graduation_month">
                    <option disabled selected hidden value="">Graduation Month</option>
                    {{range .GraduationMonths}}
                        <option value='{{.}}'>{{.}}</option>
                    {{end}}
                </select>

                <select name="graduation_year">
                    <option disabled selected hidden value="">Graduation Year</option>
                    {{range .GraduationYears}}
                        <option value='{{.}}'>{{.}}</option>
                    {{end}}
                </select>

                <select name="degree">
                    <option disabled selected hidden value="">Level</option>
                    {{range .Degrees}}
                        <option value='{{.}}'>{{.}}</option>
                    {{end}}
                </select>

                <select name="seeking">
                    <option disabled selected hidden value="">Seeking</option>
                    {{range .Seekings}}
                        <option value='{{.}}'>{{.}}</option>
                    {{end}}
                </select>

                <button class="button" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
<script>
    document.getElementById('resume-filter-form').addEventListener('submit', e => {
        // remove 'name' for all blank fields to prevent them from being sent in the request
        $(e.target).find('[name]').each((_, inputElement) => {
            if ($(inputElement).val() === "") {
                $(inputElement).attr('name', '');
            }
        });
    });

    window.addEventListener("load", () => {
        // set the initial value for each filter based on the current query parameters
        const url = new URL(location.href);
        url.searchParams.forEach((value, key) => {
            $(`[name=${key}]`).val(value);
        });
    });

</script>

{{template "footer" .}}
{{end}}