{{define "sponsors"}}
{{template "header" .}}

<div id="sponsor-container">
    <div class="row">
        <h3>Acknowledgement</h3>
        <p>We would like to thank our corporate sponsors for enabling us to accomplish great things.</p>
    </div>
    <div class="row">
        <h1>Sponsor Us</h1>
        <p>{{.Sponsors.Pitch}}</p>
    </div>
    <div class="row">
        <h3>Get involved</h3>
        <p>
        The best way for companies to get involved with ACM@UIUC is to become a part of our corporate sponsorship program. If you have any questions please e-mail us at <a href="mailto:corporate@acm.illinois.edu"> corporate@acm.illinois.edu</a>.
        The Corporate Committee is ACM's central point of contact for all corporate relations activities.
        </p>
        <h3>Sponsorship Tiers</h3>
        {{range .Sponsors.Packages}}
            <h5>{{.Name}} - {{.Price}}</h5>
            <ul class="dashed">
                {{range .Items}}
                    <p1> - {{.}}</p1><br>
                {{end}}
            </ul><br>
        {{end}}
    </div><br/>
    <div class="row">
        <h3>Resume Book</h3>
        <h4>Students</h4>
        <p>Want to have your resume seen by recruiters from some of the biggest companies in the tech industry? Just upload your resume and it will immediately be available to recruiters.</p>
        <a href="/resumeupload">
            <button type="button" class="button">Upload Your Resume</button>
        </a>
    </div><br/>
    <div class="row">
        <h4>Recruiters</h4>
        <p>Want access to hundreds of resumes from some of the top students in the country? If you would like access to the ACM@UIUC Resume Book please email<a href="mailto:corporate@acm.illinois.edu"><b> corporate@acm.illinois.edu</b></a>.</p>
        <a href="/login">
            <button type="button" class="button">Login to the Resume Book</button>
        </a>
    </div>
  </div>

{{template "footer" .}}
{{end}}