name: Deploy all resources to QA
run-name: QA deploy - @${{ github.actor }}

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  test:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    timeout-minutes: 15
    name: Run Unit Tests
    steps:
      - uses: actions/checkout@v5
        env:
          HUSKY: "0"

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.12.2


      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: 22.x
          cache: "yarn"

      - name: Restore Yarn Cache
        uses: actions/cache@v4
        with:
          path: node_modules
          key: yarn-modules-${{ runner.arch }}-${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}-dev
          restore-keys: |
            yarn-modules-${{ runner.arch }}-${{ runner.os }}-

      - name: Run unit testing
        run: make test_unit

  build:
    permissions:
      contents: read
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 15
    name: Build Application
    steps:
      - uses: actions/checkout@v5
        env:
          HUSKY: "0"

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: 22.x
          cache: "yarn"

      - name: Restore Yarn Cache
        uses: actions/cache@v4
        with:
          path: node_modules
          key: yarn-modules-${{ runner.arch }}-${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}-dev
          restore-keys: |
            yarn-modules-${{ runner.arch }}-${{ runner.os }}-

      - name: Run build
        run: make build
        env:
          HUSKY: "0"
          VITE_RUN_ENVIRONMENT: dev
          RunEnvironment: dev

      - name: Upload Build files
        uses: actions/upload-artifact@v5
        with:
          include-hidden-files: true
          name: build
          path: |
            dist/
            dist_ui/

  deploy-test-dev:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      id-token: write
      contents: read
    concurrency:
      group: ${{ github.event.repository.name }}-dev-env
      cancel-in-progress: false
    environment: "AWS QA"
    name: Deploy to QA and Run Live Tests
    needs:
      - test
      - build
    steps:
      - uses: actions/checkout@v5
        env:
          HUSKY: "0"

      - name: Set up Node for testing
        uses: actions/setup-node@v6
        with:
          node-version: 22.x
          cache: "yarn"

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.12.2

      - name: Restore Yarn Cache
        uses: actions/cache@v4
        with:
          path: node_modules
          key: yarn-modules-${{ runner.arch }}-${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}-dev
          restore-keys: |
            yarn-modules-${{ runner.arch }}-${{ runner.os }}-

      - name: Download Build files
        uses: actions/download-artifact@v6
        with:
          name: build

      - uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::427040638965:role/GitHubActionsRole
          role-session-name: Core_QA_Deployment_${{ github.run_id }}
          aws-region: us-east-2

      - name: Publish to AWS
        run: make deploy_qa
        env:
          HUSKY: "0"
          VITE_RUN_ENVIRONMENT: dev

      - name: Run health check
        run: make dev_health_check

      - name: Run live integration testing
        run: make test_live_integration
        env:
          JWT_KEY: ${{ secrets.JWT_KEY }}
